/android/.gradle/
/android/build/
/android/local.properties
/android/app/build/
/android/app/.cxx/
/android/app/.externalNativeBuild/
/android/app/obj/
/android/app/libs/
/android/app/jni/SDL/
/android/app/native-build.log
/m68k.c
/m68k.h
/z80.c
/z80.h
/sh2.c
/sh2.h
/upd78k2.c
/upd78k2.h
